<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <style>
        a {
            position: relative;
            margin: 0vw 2.5vw 0vw 2.5vw;
            text-decoration: none;
            color:blueviolet
        }

        button {
            border: 3px solid blueviolet;
            border-radius: 15px;
            background-color: black;
            color: blueviolet;
        }

        .logout {
            position: relative;
        top: 2vw;
        width: 30vw;
        height: 12vw;
        left: 34vw;
        }
    </style>
</head>
<body>
    <header style="height: 4vw;">
        <span style="font-size: 3vw;">Кинотеатр "Звезда"</span>
        <a href="{{ url_for('allFilms') }}">Сеансы</a>
        <button style="position: relative; left: 3vw;" href="">
            <a href="/app/login" target="_self">Логин</a>
        </button>
        <button style="color: white; background-color: blueviolet; left: 5vw; position: relative;" href="">
            <a style="color: white" href="/app/register" target="_self">Регистрация</a>
        </button>
        <span  style="right: -7vw; position: relative; color:green">{{ name }}</span>

    </header>
    
    <main>
        <br>
        {% if session['username'] == 'admin' %}  <!-- Делаем поля дла администратора -->
        <div>
            Вы вошли под правами администратора
            <button>
                <a href="{{ url_for('createSession') }}">Сделать новый сеанс</a>
            </button>
        </div>
        {% endif %}
    </main>
    <br>
    <footer style="position: relative; top: 2vw;">
        Кинотеатр "Звезда"
    </footer>
    
</body>
</html>